
#footer {
    min-height: 100vh;
    background: #e5e5e5;
    overflow: hidden;
    position: relative;
    padding: 15px 10px 0px 10px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    min-height: 220px;
}

.footerTop p {
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: 3px;
}

.footerTop a {
    color: #111;
    text-decoration: none;
}

.footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerEmail {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.footerRight {
    text-align: right;
}

.nammaContainer {
    margin:0px;
   
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.nammaText {
    font-size: 29vw;
    font-weight: 900;
    line-height: 0.7;
    letter-spacing: -1.9vw;
    color: #111;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.nammaText.showNamma {
    transform: scaleY(1);
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.footerBottom p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 3px;
}

