
#footer {
    min-height: 100vh;
    background: rgb(228 228 228);
    overflow: hidden;
    position: relative;
    padding: 15px 10px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    min-height: 220px;
}

.footerTop p {
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: 3px;
    color: #767171;
}

.footerTop a {
    color: #767171;
    text-decoration: none;
}

.footerEmail {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.footerRight {
    text-align: right;
}

.nammaContainer {
    margin:0px;
   
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.nammaText {
    font-size: 29vw;
    font-weight: 900;
    line-height: 0.7;
    letter-spacing: -1.9vw;
    color: #111;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.nammaText.showNamma {
    transform: scaleY(1);
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.footerBottom p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 3px;
    color: #767171;
}

.content>img{
      height: 100%;
      width: 100%;
      display: show;
    }

.contentBottom{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}
.contentBottom>.content h1{
  font-size: 180%;
}
.contentBottom>.content h5{
  font-size: 40%;
}
.contentBottom>.content p{
  font-size: 30%;
  color: #767171;
}
.b{
    height: 70vh;
}

.footerVideo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1%;
}
.videos{
   border-radius: 20px;
   overflow: hidden;
   position: relative;
   /* z-index: 1; */
   width: 20%;
}
.videos>video{
    width: 100%;
    height: auto;
    display: block;
}
